{% extends 'nav_donor.html' %}
{% load static %}
{% block title %} Change Password {% endblock title %}
{% block main-content %}
<script>
    function checkpass()
    {
    if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
    {
    alert('New Password and Confirm Password field does not match');
    document.changepassword.confirmpassword.focus();
    return false;
    }
    return true;
    }

</script>

<div class="container shadow-lg pt-5">
    <h3 class="text-center" style="color:darkgreen">Change Password</h3>
<form class="container mt-5" method="post" name="changepassword" onclick="return checkpass()">
    {% csrf_token %}
    <label class="mb-2"><b>Current Password</b></label>
    <input type="password" class="form-control mb-2" name="currentpassword" required="true">

    <label class="mb-2"><b>New Password</b></label>
    <input type="password" class="form-control mb-2" name="newpassword" required="true">

    <label class="mb-2"><b>Confirm New Password</b></label>
    <input type="password" class="form-control mb-2" name="confirmpassword" required="true">



    <input type="submit" class="btn btn-primary mb-3" style="margin-top:2%; color:darkcolor; ">
</form>
</div>


{% if error == "no" %}
<script>
    alert("Your Password Updated Successfully");
    window.location = ('{% url 'Logout' %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong, Try Again...");
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert("Your Current Password is Wrong");
</script>
{% endif %}




{% endblock main-content %}