{% extends 'nav_ngo.html' %}
{% load static %}
{% block title %}Pet Wellfare{% endblock title %}
{% block main-content %}

<div class="container shadow-lg pt-5 pb-2">
    <h3 class="text-center mb-4" style="color:darkgreen">Pet Wellfare List</h3>
<div class="container">
<table class="table table-hover" id="example">
    <thead>
    <tr style="background-color: #000080; color:white">
        <th>Sr. No.</th>
        <th>Pet Name</th>
        <th>Pet Breed</th>
        <th>Price</th>
        <th>Creation Date</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    {% for i in pet %}
    <tr style="background-color: #DEB887 ">
        <td>{{forloop.counter}}</td>
        <td>{{i.pet_name}}</td>
        <td>{{i.pet_breed}}</td>
        <td>{{i.price}}</td>
        <td>{{i.creationdate}}</td>

       <td><a href="{% url 'ngo_pet_detail' i.id %}" class="btn btn-success btn-sm">View</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock main-content %}